{"openapi":"3.0.0","info":{"title":"Trust-Registry - Upsun Image & Region Registry API","version":"1.0.0","description":"\n# Upsun Image & Region Registry API\n\nREST API to access Upsun image and region information from the official registry.\n\n## Features\n\n- 📋 **Complete lists**: Retrieval of all available images and regions\n- 🔍 **Search by name**: Access to specific image or region information\n- 🌍 **Filter by provider/zone**: Find regions by cloud provider or geographic zone\n- 🎯 **Flexible filtering**: Select properties to return via query parameters\n- ✅ **Zod validation**: Automatic data schema validation\n- 📊 **Rate limiting**: Protection against abuse\n- 🌐 **CORS configured**: Cross-origin request support\n- 📝 **Structured logs**: Logging with Pino for monitoring\n\n### 📦 Supported Data Sources\n\n- **Images**: `/resources/image/registry.json` (local) or GitHub\n- **Regions**: `/resources/host/regions_location.json` (local) or GitHub\n\n---\n\n### Rate Limiting\n\n- **General**: 100 requests per 15 minutes\n- **Strict**: 10 requests per minute (if configured)\n  ","contact":{"name":"API Support","url":"https://github.com/upsun/upsun-docs"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"}},"servers":[{"url":"https://meta.upsun.com","description":"Production server"}],"components":{"schemas":{"Image":{"type":"object","properties":{"name":{"type":"string","description":"Image name","example":"nodejs"},"endpoint":{"type":"string","format":"uri","description":"Image endpoint URL","example":"https://api.upsun.com/v1/images/nodejs"},"versions":{"type":"array","items":{"type":"string"},"description":"List of available versions","example":["18","20","22"]},"type":{"type":"string","description":"Image type","example":"runtime"}},"required":["name","endpoint"],"additionalProperties":{"nullable":true}},"ImageRegistry":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Image"},"description":"Complete registry containing all available images","example":{"nodejs":{"name":"nodejs","endpoint":"https://api.upsun.com/v1/images/nodejs","versions":["18","20","22"],"type":"runtime"},"php":{"name":"php","endpoint":"https://api.upsun.com/v1/images/php","versions":["8.1","8.2","8.3"],"type":"runtime"}}},"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"Image not found"},"availableImages":{"type":"array","items":{"type":"string"},"description":"List of available images (for 404 image error)","example":["nodejs","php","chrome-headless"]},"availableItems":{"type":"array","items":{"type":"string"},"description":"List of available properties (for 404 items error)","example":["name","endpoint","versions","type"]},"requestedItems":{"type":"array","items":{"type":"string"},"description":"List of requested properties","example":["versions","endpoint"]}},"required":["error"]},"Region":{"type":"object","properties":{"name":{"type":"string","description":"Region name","example":"us-2.platform.sh"},"provider":{"type":"string","description":"Cloud provider","example":"AWS"},"zone":{"type":"string","description":"Geographic zone","example":"North America"},"timezone":{"type":"string","description":"Timezone identifier","example":"America/New_York"}},"required":["name","provider","zone","timezone"],"additionalProperties":{"nullable":true}},"RegionsList":{"type":"array","items":{"$ref":"#/components/schemas/Region"},"description":"Complete list of all available regions","example":[{"name":"us-2.platform.sh","provider":"AWS","zone":"North America","timezone":"America/New_York"},{"name":"eu.platform.sh","provider":"AWS","zone":"Europe","timezone":"Europe/Dublin"}]},"RegionCount":{"type":"object","properties":{"count":{"type":"number","description":"Total number of available regions","example":15}},"required":["count"]},"RegionError":{"type":"object","properties":{"error":{"type":"string","description":"Error message","example":"Region not found"},"availableRegions":{"type":"array","items":{"type":"string"},"description":"List of available region names","example":["us-2.platform.sh","eu.platform.sh","au.platform.sh"]},"availableProperties":{"type":"array","items":{"type":"string"},"description":"List of available properties for a region","example":["name","provider","zone","timezone"]}},"required":["error"]}}},"paths":{"/image":{"get":{"tags":["Images"],"summary":"Get all images","description":"Returns the complete list of available images with all their information (name, endpoint, versions, etc.)","responses":{"200":{"description":"Complete image registry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageRegistry"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/image/{name}":{"get":{"tags":["Images"],"summary":"Get image by name","description":"\nReturns information for a specific image.\n\n**Without query parameter**: Returns all image information\n**With `items` parameter**: Filters returned properties\n\n### Usage Examples\n\n```bash\n# All information\nGET /image/nodejs\n\n# Only versions\nGET /image/nodejs?items=versions\n\n# Multiple properties\nGET /image/php?items=versions,endpoint\n```\n  ","parameters":[{"schema":{"type":"string","description":"Image name (e.g., nodejs, php, chrome-headless)"},"required":true,"description":"Image name (e.g., nodejs, php, chrome-headless)","name":"name","in":"path"},{"schema":{"type":"string","description":"Comma-separated list of properties to return (e.g., \"versions,endpoint\")"},"required":false,"description":"Comma-separated list of properties to return (e.g., \"versions,endpoint\")","name":"items","in":"query"}],"responses":{"200":{"description":"Image found and returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Image"}}}},"400":{"description":"Invalid query parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Image not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/region":{"get":{"tags":["Regions"],"summary":"Get all regions","description":"\nReturns the complete list of available regions with their information.\n\n**Without query parameter**: Returns full list of all regions\n**With `count=true`**: Returns only the total number of regions\n\n### Usage Examples\n\n```bash\n# All regions\nGET /region\n\n# Only count\nGET /region?count=true\n```\n  ","parameters":[{"schema":{"type":"string","description":"Set to \"true\" to return only the count of regions"},"required":false,"description":"Set to \"true\" to return only the count of regions","name":"count","in":"query"}],"responses":{"200":{"description":"Complete list of regions or count","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/RegionsList"},{"$ref":"#/components/schemas/RegionCount"}]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionError"}}}}}}},"/region/{name}":{"get":{"tags":["Regions"],"summary":"Get region by name","description":"\nReturns information for a specific region.\n\n**Without query parameter**: Returns all region information\n**With `items` parameter**: Filters returned properties\n\n### Usage Examples\n\n```bash\n# All information\nGET /region/us-2.platform.sh\n\n# Only provider\nGET /region/us-2.platform.sh?items=provider\n\n# Multiple properties\nGET /region/eu.platform.sh?items=provider,zone,timezone\n```\n  ","parameters":[{"schema":{"type":"string","description":"Region name (e.g., us-2.platform.sh, eu.platform.sh)"},"required":true,"description":"Region name (e.g., us-2.platform.sh, eu.platform.sh)","name":"name","in":"path"},{"schema":{"type":"string","description":"Comma-separated list of properties to return (e.g., \"provider,zone\")"},"required":false,"description":"Comma-separated list of properties to return (e.g., \"provider,zone\")","name":"items","in":"query"}],"responses":{"200":{"description":"Region found and returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Region"}}}},"400":{"description":"Invalid query parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionError"}}}},"404":{"description":"Region not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionError"}}}}}}},"/region/provider/{provider}":{"get":{"tags":["Regions"],"summary":"Get regions by cloud provider","description":"\nReturns all regions for a specific cloud provider.\n\n### Usage Examples\n\n```bash\n# All AWS regions\nGET /region/provider/AWS\n\n# All Azure regions\nGET /region/provider/Azure\n\n# All Google regions\nGET /region/provider/Google\n```\n  ","parameters":[{"schema":{"type":"string","description":"Cloud provider name (e.g., AWS, Azure, Google, OVH)"},"required":true,"description":"Cloud provider name (e.g., AWS, Azure, Google, OVH)","name":"provider","in":"path"}],"responses":{"200":{"description":"Regions filtered by provider","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionsList"}}}},"404":{"description":"No regions found for this provider","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionError"}}}}}}},"/region/zone/{zone}":{"get":{"tags":["Regions"],"summary":"Get regions by geographic zone","description":"\nReturns all regions in a specific geographic zone.\n\n### Usage Examples\n\n```bash\n# All North American regions\nGET /region/zone/North America\n\n# All European regions\nGET /region/zone/Europe\n\n# All Australian regions\nGET /region/zone/Australia\n```\n  ","parameters":[{"schema":{"type":"string","description":"Geographic zone (e.g., \"North America\", \"Europe\", \"Australia\")"},"required":true,"description":"Geographic zone (e.g., \"North America\", \"Europe\", \"Australia\")","name":"zone","in":"path"}],"responses":{"200":{"description":"Regions filtered by zone","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionsList"}}}},"404":{"description":"No regions found for this zone","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionError"}}}}}}}}}